*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin text {
  font-family: "Cascadia Code", "Consolas", monospace;
  color: white;
  font-size: 1rem;
}

body {
  @include text;
  background: black;
}

#container {
  padding: 10px;
  width: 100vw;
  height: 100vh;
}

#terminal {
  display: flex;
}

pre {
  @include text;
  white-space: pre-wrap;
  word-wrap: break-word;
}

#input-box {
  @include text;
  background-color: transparent;
  outline: none;
  border: none;
}
