@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$cell-width: 1.2vw;
$cell-margin: 0.2vw;
$b-lightness: 50;
$border-color: rgba($b-lightness, $b-lightness, $b-lightness, 0.5);

body {
  font-family: "PT Sans", sans-serif;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#grid {
  display: grid;
  grid-template-columns: repeat(52, $cell-width + $cell-margin * 3);
}

.cell {
  width: $cell-width;
  height: $cell-width;
  border: 1px solid $border-color;
  margin: $cell-margin;
}

.past {
  background-color: rgba(200, 50, 50, 0.5);
  transition: transform 200ms;
  &:hover {
    transform: scale(1.5);
    transition: transform 200ms;
  }
}
